#RewriteEngine on
#RewriteCond %{HTTP_HOST} !^forums\..vatusa\.net [NC]
#RewriteRule ^(.*)$ http://forums.vatusa.net/$1 [R,L]

#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://forums.vatusa.net/$1 [R,L]

